.NCPCardScannerAllowCameraSpinnerContainer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 384px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  color: #fff;
  .titleLabel {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
  }
  .subTitleLabel {
    font-size: 24px;
    line-height: 28px;
  }
}
